.trending {
  padding: 40px 0;
}

.trendingHeader {
  margin-bottom: 30px;
  text-align: center;
}

.piecesTitle {
  font-size: 1rem;
  letter-spacing: 0.4em;
  color: var(--primary);
  font-weight: 400;
  text-transform: uppercase;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1440px !important;
  margin: 0 auto;
}
